{% load static %}
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
</head>
{% block content %}
<div class="container">
    <div class="header">
        <a href="/">CUTE CAT</a>
    </div>

    <div class="contents">
        <form method="post" class="post-form" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <!--{% include "form_errors.html" %-->
            <div class="form-group">
                <input type="text" class="form-control" name="username" id="username" placeholder="아이디"
                    value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호"
                    value="{{ form.password.value|default_if_none:'' }}">
            </div>
            {% include "form_errors.html" %}
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>
    </div>
</div>
{% endblock %}